# data and artifacts
log/
logs/
loss_plots/
motion_evaluator/
PD_3D_motion-capture_data/
!/PD_3D_motion-capture_data/WearGait/process_wear_gait.py
!/PD_3D_motion-capture_data/WearGait/weargait_encoders.py
!/PD_3D_motion-capture_data/WearGait/weargait_train.py
!/PD_3D_motion-capture_data/WearGait/weargait_windows.py
*.out
*.pyc


# ignore large files
*.pt
*.pth
*.pkl
*.npy
*.npz
*.h5
*.zip

# ignore system and editor files
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.env